<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link data-trio-link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header data-trio-include="header.html"></header>
    <main data-trio-fragment class="container archive">
        <img data-trio-link class="archive__img" src="/media/recipiesbox.jpg" alt="archive page image">
        <br>
        <h1>Archive</h1>
        <ul data-trio-callback="archive" class="archive__list"></ul>
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>

</html>