<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header data-trio-include="header.html"></header>
    <main class="container">
        <article class="article">
            <h1 class="article__title"></h1>
            <div class="article__metadata">Posted to <span class="article__category"></span> on <span class="article__date"></span></div>
            <div data-trio-fragment class="article__body"></div>
        </article>
    </main>
    <footer class="container footer">footer goes here</footer>
</body>
</html>