<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <header data-trio-include="header.html"></header>
    <main class="container blog">
        <h1>Welcome To My Blog</h1>
        <div class="blog__content-container">
            <aside data-trio-include="categorylist.html"></aside>
            <div class="blog__body"></div>
        </div>
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>

</html>