.archive {
    @extend %archive;
}

.archive__list {
    @extend %archive__list;
}

.archive__list-item {
    @extend %archive__list-item;
}

.archive__list-item-link {
    @extend %archive__list-item-link;
}

.archive__img {
    width: 100%;
    height: 275px;
    @extend %img-shadow;
}

@media (min-width: 992px) {
    .archive__img {
        width: 100%;
        height: 350px;
    }
}