.article {
    display: block;
    border-bottom: solid 1px $lightest-text-color;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.article p:last-child {
    margin-bottom: 0;
}

.article__img {
    width: 100%;
    height: 275px;
    @extend %img-shadow;
}

.article__title {
    margin-bottom: 0;
}

.article__info {
    font-size: .8rem;
}

@media (min-width: 992px) {
    .article__img {
        width: 100%;
        height: 350px;
    }
}