.footer {
    margin-top: 100px;
    padding: 1.5rem;
    height: 300px;
    text-align: center;
    background-color: $default-background-color;
    color: $lighter-text-color;
    a {
        color: $default-text-color;
    }
    a:hover {
        text-decoration: underline;
    }
}