.header {
    width: 100%;
    padding: 40px 0;
}

.header__promo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    font-size: 1.6rem;
    color: $lighter-text-color;
    text-align: center;
}

.header__navbar {
    display: block;
    width: 100%;
    text-align: center;
}

.header__navbar-items {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__navbar-item {
    display: block;
    width: 100%;
}

.header__navbar-item-link {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: $lighter-text-color;
}

@media (min-width: 640px) {
    .header__navbar-items {
        list-style: none;
    }
    .header__navbar-item {
        display: inline-block;
        width: initial;
    }
    .header__navbar-item-link {
        padding: 0 1.5rem;
    }
    .header__navbar-item:first-child .header__navbar-item-link {
        text-align: right;
    }
    .header__navbar-item:last-child .header__navbar-item-link {
        text-align: left;
    }
}