.header {
    width: 100%;
    padding: 40px 0;
}

.header__promo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    font-size: 1.6rem;
    color: $lighter-text-color;
    text-align: center;
}

.header__navbar {
    display: block;
    width: 100%;
    text-align: center;
}

.header__navbar-items {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__navbar-item {
    display: block;
    width: 100%;
}

.header__navbar-item-link {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: $lighter-text-color;
}