%img-shadow {
    box-shadow: 3px 3px 3px $lightest-text-color;
}

// articles list
%archive {
    display: block;
}

%archive__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%archive__list-item {
    margin-bottom: 15px;
    color: $lighter-text-color;
}

%archive__list-item-link {
    color: inherit;
    text-decoration: underline;
}

