* {
    box-sizing: border-box;
}

html {
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 16px;
    $max_font: 24px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $default-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    color: $lighter-text-color;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

img {
    border-radius: $default-border-radius;
}